*{
    margin: 0;
    padding: 0;
}
ul{background-color: rgb(0, 153, 255);}
ul li{
    list-style: none;
    display: inline-block;
    margin: 02% 2%;
    color: rgb(255, 255, 255);
    
}
.calculatorapp{
    margin-top: auto;
    margin-top: 10%;
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex: 1;

}
@media only screen and (max-width: 800px) {
    .calculatorapp{
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
}
    
}
.calculatorapp button,input{
    padding: 20px;
    background-color: transparent;
    width: 150px;
    border: 1px solid black;
    
}

.calculatorapp input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    text-align: center;
}
#output{
 color: orangered;
 border: 20px solid violet;
 width: fit-content;

}
